.card {
  background-color: #f8f9fa;
  max-width: 590px;
  width: 95%;
  height: 87px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 10px;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  border-left: solid #03b898 5px;
}
.descriptionCard {
  width: 50%;
  font-weight: bold;
}

.type {
  width: 100%;
}
.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.ofType {
  background-color: #f8f9fa;
  max-width: 590px;
  width: 95%;
  height: 87px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 10px;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  border-left: solid #e34981 5px;
}

@media screen and (min-width: 1000px) {
  .card {
    background-color: #f8f9fa;
    max-width: 590px;
    width: 95%;
    height: 87px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    border-left: solid #03b898 5px;
  }
  .descriptionCard {
    width: 50%;
    font-weight: bold;
  }

  .type {
    width: 100%;
  }
  .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .ofType {
    background-color: #f8f9fa;
    max-width: 590px;
    width: 95%;
    height: 87px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    border-left: solid #e34981 5px;
  }
}
