.card{
    background-color: #F8F9FA    ;
    Width:  560px;
    Height:  87px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    padding: 15px ;
    border-left: solid #03b898 5px;
  
}
.description{
    font-weight: bold;

}

.type{
   width: 100%;

}
.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.ofType{
    background-color: #F8F9FA    ;
    Width:  560px;
    Height:  87px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    padding: 15px ;
    border-left: solid #E9ECEF 5px;

}
